@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}


.container-xl > .row > div {
	text-align: center;
}

.on-hold {
	pointer-events: none;
	background-color: #9d9d9d;
    border-color: #9d9d9d;
}

.container-xl > .row > div:nth-child(n+2):hover {
	cursor: not-allowed;
}

.thead { 
    font-style: italic;
}

/*.thead > th, .data > tr > th, .data > tr > td {
	width: 1px;
	white-space: nowrap;
}*/

.season {
    text-transform: uppercase;
    font-weight: 900;
}

.inv {
	display: none;
}

.info {
	display: none;
	padding-top: 50px;
	font-size: 2rem;
}

.load, .info {
	width: 70%;
    margin: 0 auto;
    text-align: center;
}

.load > span, .info > span {
	text-align: center;
	font-weight: 800;
}

.progress {
	height: 30px;
	border-radius: 20px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition-duration: 1s;
	font-weight: 800;
}